/*General*/

@import url('https://fonts.googleapis.com/css2?family=Philosopher:wght@400;700&family=Quicksand:wght@400;500&display=swap');

/*font-family: 'Philosopher', sans-serif;
font-family: 'Quicksand', sans-serif;

lila #9900cc
gelb #ffcc00
*/

*{box-sizing: border-box;}

img{
  max-width:100%; 
  height:auto;
}

@-ms-viewport {
    width: device-width;
} 

@viewport {
    width: device-width;
}

body {
    font-family: 'Quicksand', sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    color: #000;
}

h1, h2 {
    font-family: 'Philosopher', sans-serif;
}

h1{
    font-size:2rem;
    color: #9900cc;
}

.row {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
}

a {
    color: #000;
    text-decoration: none;
}

.partner {
    text-align: center;
    font-size: 0.8rem;
    padding: 2rem 0;
    border-top: #696969 solid 2px;
}

.partner_logos img{
    height: 4rem;
}

.partner_logos{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.start, .senioren_header, .studis_header, .klönschnack_header, .kontakt {
    margin-top: 10rem;
}

section{
    margin-top: 5rem;
}

/*Content Entstehung*/

.contententstehung h1{
    color: #9900cc;
}
/*
.arrow_box {
	position: relative;
	background: #ffcc00;
	border: 3px solid #9900cc;
    height: 9rem;
    padding: 2rem;
    align-self: center;
}

.arrow_box:after, .arrow_box:before {
	right: 100%;
	top: 50%;
	border: solid transparent;
	content: "";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box:after {
	border-color: rgba(255, 204, 0, 0);
	border-right-color: #ffcc00;
	border-width: 30px;
	margin-top: -30px;
}
.arrow_box:before {
	border-color: rgba(153, 0, 204, 0);
	border-right-color: #9900cc;
	border-width: 34px;
	margin-top: -34px;
}*/

/*header*/

header{
    text-align: center;
    
}
nav ul{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    position: relative;
}

nav ul li {
    position: relative;
    width: 100%;
    font-size: 1.1rem;
    padding: 4px 0;
}

nav li:hover, .teaser_box a:hover{
    border:#9900cc solid 2px;
    color:#9900cc;
}

nav li:hover a{
    color: #9900cc;
}

.nav-toggle 
{
    display:none;
    cursor: pointer;
}

nav > ul > li {
    border-right: #ffcc00 solid 2px;
}

.last {
    border-right: none;
}

.logo {
    width: 8rem;
}

.active_link {
    background-color: #ffcc00;
    padding: 4px 0 ;
    border: #fff solid 2px;
}

.active_link a {
    color: #fff;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fff;
    padding-top: 2rem;
}


/*footer*/

footer{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-self: center;
    background-color: #696969;
    padding: 0.25rem 15%;
}

footer img {
    width: 3rem;
    padding-top: 0.4rem;
}

.footer_imp {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.footer_imp a {
    padding-left: 5rem;
    color: #fff;
}
/*Startseite*/

.start{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 15% auto 10%;
    margin-right: 5%;
}

.start .head_bild{
    background-image: url(../bilder/start_header.jpg);
    background-repeat: no-repeat;
    background-position: center right;
    background-size: cover;
    height: 25rem;
    grid-column-start: 1;
    grid-column-end: 12;
    grid-row-start: 1;
    grid-row-end: 4;
    border-bottom-right-radius: 15rem;
}

.start .teaser_box{
    grid-column-start: 9;
    grid-column-end: 13;
    grid-row-end:2;
    grid-row-end: 3;
    width: 24rem;
    justify-self: end;
    background-color: rgba(255, 204, 0, 0.8);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.start .teaser_box p {
    margin:0;
}

.start .teaser_box a{
    background-color: #9900cc;
    text-align: center;
    padding: 0.8rem ;
    border-bottom-right-radius: 2rem;
    color: #fff;
    margin-top: 2rem;
}
.start .teaser_box a:hover{
    background-color: transparent;
}

.schuhmann {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: 5rem auto;
}

.schuhmann>img {
    height: 15rem;
    width: auto;
}

.schuhmann_text{
    margin-left: 6rem;
}

.schuhmann_text img{
    width: 12rem;
}

.angebot{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 10% auto 10%;
    margin-left: 10%;
}

.angebot li{
    list-style-image: url(../bilder/logo_icons/bullet.gif);
}

.last_li{
    list-style-image: url(../bilder/logo_icons/exclamation.gif)!important;
}


.angebot_text {
    background-color:rgba(255, 204, 0, 0.8);
    padding: 1rem 2rem 1rem 5rem;
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 2;
    grid-row-end: 3;
}

.angebot_pic {
    background-image: url(../bilder/start_angebot.jpg);
    background-repeat: no-repeat;
    background-position: center right;
    background-size: cover;
    height: 60vh;
    grid-column-start: 3;
    grid-column-end: 13;
    grid-row-start: 1;
    grid-row-end: 4;
    border-bottom-left-radius: 15rem;
    z-index: -1;
}


.angebot_studis_senis{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr;
    grid-gap: 5px;
    margin: 5rem 0;
    color: #fff;
}

.angebot_studis_senis h1 {
    color: #fff;
}

.angebot_studis {
    grid-column-start: 1;
    grid-column-end: 7;
    background-color: #ffcc00;
    padding-left: 15rem;
    padding-right: 5rem;
}

.angebot_studis a{
    background-color: #9900cc;
}

.angebot_studis a, .angebot_senioren a{
    text-align: center;
    padding: 0.8rem ;
    border-bottom-right-radius: 2rem;
    color: #fff;
    width: 50%;
    align-self: flex-end;
    margin: 1rem 0;
}
.angebot_senioren {
    grid-column-start: 7;
    grid-column-end: 13;
    background-color: #9900cc;
    padding-right: 15rem;
    padding-left: 5rem;
    width: 100%;
}

.angebot_studis, .angebot_senioren{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.angebot_studis p, .angebot_senioren p{
    margin: 5px;
}

.angebot_senioren a{
    background-color: #ffcc00;
}

.grow {
    flex: 1;
}
.angebot_senioren a:hover, .angebot_studis a:hover{
    border:#9900cc solid 2px;
    color:#9900cc;
    background-color: #fff;
}

/*Für Senioren*/

.senioren_einleitung, .senioren_wie, .Zimmergesuche, .fragen_senis, .ansprechpartnerin_senioren{
    border: #9900cc solid 1px;
}

.senioren a{
    color: #9900cc;
    font-weight: 500;
}

/*Für Studierende*/


.studis a{
    color: #ffcc00;
    font-weight: 500;
}

.studis h1 {
    color: #ffcc00;
}

.anmeldung{
    padding-bottom: 4rem!important;
}

  summary::marker {
    display: none
}

  summary:after {
    content: "+";
    float: left;
    margin-right: 5px;
  }

  summary:focus {
    outline: none;
}
  
  details[open] summary:after {
    content: "-";
  }

  summary {
      background-color: #ffff99;
      width: 100%;
      border: #ffcc00 1px solid;
      border-bottom-right-radius: 1rem;
      padding: 0.5rem;
  }

  details{
      margin-bottom: 1rem;
  }
.studis h1{
    color: #ffcc00;
}

.tolivetogether, .anmeldung, .senioren_einleitung, .senioren_wie, .ansprechpartner_studis, #Zimmerangebote, .fragen_studis, .Zimmergesuche, .fragen_senis, .ansprechpartnerin_senioren{
    padding: 1rem;
    border-radius: 1rem;
}

.tolivetogether, .anmeldung, .bewerbung_studis form, .ansprechpartner_studis, #Zimmerangebote, .fragen_studis{
    border: #ffcc00 solid 1px;
}

.bewerbung_studis form {
    width: 100%;
    margin: auto;
    margin-top: 5rem;
}

.bewerbung_studis h1{
    color: #ffcc00;
}
.bewerbung_studis form ,.bewerbung_studis form section{
    border-radius: 1rem;
    padding: 1rem;
}
.bewerbung_studis form section{
    background-color: #ffcc00;
    margin-top: 2rem;
}
.bewerbung_studis label {
    margin-top: 1rem;
    display: block;
}
.bewerbung_studis input, .bewerbung_studis select{
    margin-top: 0.5rem;
    width: 100%;
}

/* Klönschnack*/

.klönschnack_header h1 {
    color: #ffcc00;
}


/*Kontakt*/

.kontakt form {
    width: 50%;
    margin: auto;
    border: #ffcc00 solid 2px;
    border-radius: 1rem;
    padding: 1rem 1rem 4rem 1rem;
}

.kontakt #nachricht {
    width: 100%;
}

.kontakt #anrede, .kontakt #vorname, .kontakt #nachname, .kontakt #email, .kontakt #tel{
    width: 49%;
    
}

.kontakt #anrede, .kontakt #vorname, .kontakt #nachname, .kontakt #email, .kontakt #tel, .kontakt textarea{
    margin-bottom: 1rem;
}

.kontakt h1{
    text-align: center;
}

.button_kontakt, .button {
    background-color: #ffcc00;
    border-bottom-right-radius: 1rem;
    color: #fff !important;
    padding: 0.5rem;
    float: right;
}

.button_kontakt:hover, .button:hover{
    border: #9900cc solid 2px;
    background-color: #fff;
    color: #9900cc !important;
}

/*Media Queries Handy/ kleines Tablet*/

@media only screen and (max-width: 1020px){
    .nav-open  {
        display: block;
    }
    nav>ul{
        display: none;
        flex-direction: column;
    }
 .nav {
     margin: 0;
     align-self: center;
 }

 header .row {
    margin: 0;
}

.sticky {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
}

.start, .senioren_header, .studis_header, .klönschnack_header {
    margin-top: 5rem;}

    /*Startseite*/

    .schuhmann{
        display: flex;
        flex-direction: column;
    }

    .schuhmann_text{
        padding: 0;
        margin: 0;
    }

    .schuhmann>img{
        display: none;
    }

    .angebot{
        display: grid;
        grid-template-columns: 5% 1fr 5%;
        grid-template-rows: 5% 1fr 5%;
        margin:0;
    }

    .angebot_text{
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
        padding: 3rem;
    }

    .angebot_pic{
        background-image: url(../bilder/start_angebot_klein.jpg);
        background-position: center;
        border-radius: 0;
        height: 100%;
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 4;
    }

    .angebot_studis_senis{
        display: flex;
        flex-direction: column;
    }

    .angebot_studis, .angebot_senioren{
        padding: 3rem;
    }
    /*Für Senioren*/

    /*Für Studierende*/


    /* Kontakt*/
    .kontakt #anrede, .kontakt #vorname, .kontakt #nachname, .kontakt #email, .kontakt #tel{
        width: 100%;
    }
}

/*Handy extra*/

@media only screen and (max-width: 450px){

.start{
    display: grid;
    grid-template-columns: 5% 1fr 5%;
    grid-template-rows: 40% 1fr 5%;
    margin-top: 5rem;
    height: 70vh;
}

.start .teaser_box{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

.start .head_bild{
    background-image: url(../bilder/start_header_klein.jpg);
    background-position: center;
    border-radius: 0;
    height: 100%;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 4;
}
}

 /*große Bildschirme*/

 

@media only screen and (min-width: 500px){

    .bewerbung_studis form{
        width: 60%;
    }

    .studis_header, .senioren_header, .klönschnack_header{
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: 30% 1fr 30%;
        margin-right: 10%;
    }
    .studis_header .head_bild,.senioren_header .head_bild, .klönschnack_header .head_bild{
        background-repeat: no-repeat;
        background-position: center right;
        background-size: cover;
        height: 20rem;
        grid-column-start: 1;
        grid-column-end: 12;
        grid-row-start: 1;
        grid-row-end: 4;
        border-bottom-right-radius: 15rem;
    }
    .studis_header .head_bild{
        background-image: url(../bilder/studi_header.jpg);
    }
    
    .studis_header h1{
        background-color: rgba(255, 204, 0, 0.8);
        
}
.studis_header h1, .klönschnack_header h1, .senioren_header h1{
    color: #fff;
    font-size: 3rem;
    line-height: 3.5rem;
    grid-column-start: 8;
    grid-column-end: 13;
    grid-row-start: 2;
    grid-row-end: 3;
    text-align: center;
    align-self: center;
}

.ansprechpartner_studis, .ansprechpartnerin_senioren {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.ansprechpartner_studis img{
    flex-shrink: 1;
}

/*Senioren*/

.senioren_header .head_bild{
    background-image: url(../bilder/senioren_header.jpg);
    background-position: top right;
}

.senioren_header h1{
    background-color: rgba(153, 0, 204, 0.8);
}

/*Klönschnack*/

.klönschnack_header .head_bild{
    background-image: url(../bilder/kloeschnack_header.jpg);
}

.klönschnack_header h1{
    background-color: rgba(255, 204, 0, 0.8);
    
}

/*contententstehung*/

.contententstehung{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin: 5rem 0;
}

.arrow_box {
	position: relative;
	background: #ffcc00;
	border: 3px solid #9900cc;
    height: 9rem;
    padding: 2rem;
    align-self: center;
}

.arrow_box:after, .arrow_box:before {
	right: 100%;
	top: 50%;
	border: solid transparent;
	content: "";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box:after {
	border-color: rgba(255, 204, 0, 0);
	border-right-color: #ffcc00;
	border-width: 30px;
	margin-top: -30px;
}
.arrow_box:before {
	border-color: rgba(153, 0, 204, 0);
	border-right-color: #9900cc;
	border-width: 34px;
	margin-top: -34px;
}


}

@media only screen and (min-width: 800px){
    .row {
        max-width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
    
}
    /*Ipad quer extra*/

@media only screen and (min-width: 1020px) and (max-width:1300px){
    .angebot_studis {
        padding-left: 6rem;
        padding-right: 5rem;
    }

    .angebot_senioren{
        padding-right: 6rem;
        padding-left: 5rem;
    }
}

